version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - "8082:8082"
    depends_on:
      - gateway

  backend:
    build: ./backend
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - mongo

  gateway:
    build: ./gateway
    ports:
      - "8085:8085"
    depends_on:
      - backend

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:

